<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
<head>
    <title>Product List</title>
    
    <!-- <style>
      .product-image {
          width: 50%;
          height: 150px; /* Set a fixed height */
          /* object-fit: cover; Ensure the image covers the entire area */
      }
    </style> -->
</head>
<body>
<div th:fragment="content">
    <div id="carousel" class="">
      <!-- Top Selling -->
      <div class="top">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="card shadow">
              <div class="card-body h-100 w-100">
                <img th:src="'https://via.placeholder.com/150?text=Best Selling Product Image'" class="h-75 w-100" alt="">
              </div>
              <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
                <h5 class="text-center">Best Selling</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card shadow">
              <div class="card-body h-100 w-100">
                <img th:src="'https://via.placeholder.com/150?text=Discounted Product Image'" class="h-75 w-100" alt="">
              </div>
              <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
                <h5 class="text-center">Discounted Products</h5>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="card shadow">
              <div class="card-body h-100 w-100">
                <img th:src="'https://via.placeholder.com/150?text=Hot Product Image'" class="h-75 w-100" alt="">
              </div>
              <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
                <h5 class="text-center">New Arrival</h5>
              </div>
            </div>
          </div>
        </div>
 
    </div>

  <div class="row">
    <div th:each="product : ${products}" class="col-md-3 col-sm-4 my-3">
      <div class="card shadow h-100 w-100">
        <a th:href="@{/products/details/{id}(id=${product.product_id})}">
          <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
            <h5>Laptop</h5>
          </div>
          <div class="card-body h-100 w-100">
            <div>
              <img th:src="${product.image_url}" class="h-100 w-100" alt="Product Image">
            </div>
              <div class="border p-2 text-dark">
                <p>Name: <span th:text="${product.pro_name}"></span></p>
                <p>Price: $<span th:text="${product.sale_price}"></span></p>
                <!-- <p>Category: <span th:text="${product.category_id}"></span></p> -->
              </div>
          </div>
        </a>
        <div class="card-footer">
          <form th:action="@{/cart/add}" method="post" class="btn-sm text-center">
              <input type="hidden" th:name="product_id" th:value="${product.product_id}" />
              <button type="submit" class="btn btn-success btn-block">
                <i class="fas fa-cart-plus"></i> Add to Cart
              </button>
          </form>
      </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
