<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
<head>
    <title>Product List</title>
</head>
<body>
<div th:fragment="content">
  <div class="row">
    <div class="col-md-3 mt-5">
      <div class="card shadow">
        <div class="card-header bg-primary text-white fw-bold bg-primary">
          <h5>Case</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img src="../../resources/image/Top-Product.png" class="h-75 w-100" alt="">
          <div class="border​​ p-2">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-5">
      <div class="card shadow">
        <div class="card-header bg-primary text-white fw-bold bg-primary">
          <h5>Case</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img src="../../resources/image/Top-Product.png" class="h-75 w-100" alt="">
          <div class="border​​ p-2">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-5">
      <div class="card shadow">
        <div class="card-header bg-primary text-white fw-bold bg-primary">
          <h5>Case</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img src="../../resources/image/Top-Product.png" class="h-75 w-100" alt="">
          <div class="border​​ p-2">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 mt-5">
      <div class="card shadow">
        <div class="card-header bg-primary text-white fw-bold bg-primary">
          <h5>Case</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img src="../../resources/image/Top-Product.png" class="h-75 w-100" alt="">
          <div class="border​​ p-2">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 my-3">
      <div class="card shadow">
        <div class="card-header bg-primary text-white fw-bold bg-primary">
          <h5>Case</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img src="../../resources/image/Top-Product.png" class="h-75 w-100" alt="">
          <div class="border​​ p-2">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 my-3">
      <div class="card shadow">
        <div class="card-header bg-primary text-white fw-bold bg-primary">
          <h5>Case</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img src="../../resources/image/Top-Product.png" class="h-75 w-100" alt="">
          <div class="border​​ p-2">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 my-3">
      <div class="card shadow">
        <div class="card-header bg-primary text-white fw-bold bg-primary">
          <h5>Case</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img src="../../resources/image/Top-Product.png" class="h-75 w-100" alt="">
          <div class="border​​ p-2">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 my-3">
      <div class="card shadow">
        <div class="card-header bg-primary text-white fw-bold bg-primary">
          <h5>Case</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img src="../../resources/image/Top-Product.png" class="h-75 w-100" alt="">
          <div class="border​​ p-2">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</body>
</html>
