<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">
<head>
    <title>Product List</title>
</head>
<body>
<div th:fragment="content">
  <div class="row">
    <div class="col-md-3 col-sm-4">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Case</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Computer Case Image'" class="h-75 w-100" alt="">
          <!-- <img th:src="@{/resources/image/Top-Product.png}" class="h-75 w-100" alt=""> -->
          <div class="border​​ p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Phone</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Phone Image'" class="h-75 w-100" alt="">
          <div class="border​​ p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Case from Website</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Case Image'" class="h-75 w-100" alt="">
          <div class="border​​ p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Laptop</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Laptop Image'" class="h-75 w-100" alt="">
          <div class="border​​ p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4 my-3">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Samsung</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Samsung Image'" class="h-75 w-100" alt="">
          <div class="border​​ p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4 my-3">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Computer</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Computer Image'" class="h-75 w-100" alt="">
          <div class="border​​ p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4 my-3">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Keyboard</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Keyboard Image'" class="h-75 w-100" alt="">
          <div class="border​​ p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-4 my-3">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Mouse-Pad</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Mouse-Pad Image'" class="h-75 w-100" alt="">
          <div class="border​​ p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

        <!-- Local Image Example -->
    <div class="col-md-3 col-sm-4">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Mac Book Pro</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Laptop Image'" class="h-75 w-100" alt="">
          <div class="border p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>

    <!-- External Image Example -->
    <div class="col-md-3 col-sm-4">
      <div class="card shadow">
        <div class="card-header text-white fw-bold" style="background-color: #456AD8;">
          <h5>Case from Website</h5>
        </div>
        <div class="card-body h-100 w-100">
          <img th:src="'https://via.placeholder.com/150?text=Case Image'" class="h-75 w-100" alt="Placeholder Image">
          <div class="border p-2 text-dark">
            <h6>Product Detail</h6>
            <p>Name</p>
            <p>Category</p>
            <p>Price</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
</body>
</html>
