<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Details</title>
    <style>
        .product-image {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
    </style>
</head>
<body>
    <h1>Product Details</h1>
    <div class="product-container">
        <div class="product">
            <img class="product-image" th:src="${product.imageUrl}" alt="Product Image">
            <h2 th:text="${product.name}">Product Name</h2>
            <p>Category: <span th:text="${product.category}">Product Category</span></p>
            <p>Price: $<span th:text="${product.price}">99.99</span></p>
            <p th:text="${product.description}">Product Description</p>
        </div>
    </div>
    <a href="/products" class="btn btn-info">Back to Product List</a>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            console.log("Product details page loaded.");
           
        });
    </script>
</body>
</html>
